.DS_Store
.idea
target/
.classpath
.project
/.settings/org.maven.ide.eclipse.prefs
/.settings/org.eclipse.m2e.core.prefs

gitlab/image/gitlab/
gitlab/image/patch_*_zh_CN.diff
gitlab/image/*.tgz

gerrit/image/bin/stable.war
gerrit/image/bin/gerrit*.war
gerrit/image/gerrit
gerrit/image/plugins

traefik-aria2-with-webui
